<div class="comment">
    <div class="comment_head">
      <i class="icon-comment"></i> 
      <%= link_to comment.user.name, comment.user%>
      <% if page_on == "event#index" %>
        <span class="comment_parent">
          on:
          <% @parent=Event.find(comment.event_id) %>
          <%= link_to @parent.name, @parent %>
        </span>
      <% elsif page_on == "event#show" %>
        commented
      <%end%>
      <span class="comment_time">
          <%= time_ago_in_words comment.created_at  %> ago
      </span>
    </div> <%# class="comment_head" %>
    <div class="comment_body">
      <%# need the "h" to escape <> %>
      <%= markdown( h comment.content) %>
    </div>
</div><%# .comment%>

