<% if @comment.parent %>
<div class="comment">
	<div class="comment_head">
		<span class="comment_guy">
			by <%= User.find(@comment.parent.user_id).name %>,
		</span>
		<span class="comment_time">
			<%zone = ActiveSupport::TimeZone.new("Beijing")%>
			<%= @comment.parent.created_at.in_time_zone(zone).to_formatted_s(:long_ordinal)  %>
		</span>
	</div>
	<div class="comment_body">
	    <%= markdown(@comment.parent.content) %>
	</div>
</div>
<% end %>

<%= render 'form' %>

