/*
	wufoo colors:
	#container{background:#BC3A1B url(/images/landing/gradient-red.png) repeat-y center ;border:1px solid #b5351b;}
	#container{background:#373434 url(/images/landing/gradient-black.png) repeat-y center ;border:1px solid #444040;} 
	#container{background:#e77709 url(/images/landing/gradient-orange.png) repeat-y center ;border:1px solid #DF5B00;}
	#container {background:#6D8A2C url(/images/landing/gradient-green.png) repeat-y center ;border:1px solid #66911C;}


	color:#f9e5bd; // yellow for inner background
	color:#FFE16E; //yellow for "login"
  
	http://www.computerhope.com/htmcolor.htm
	Dark Orange: #F88017; 
	Cyan4:    #307D7E;
*/

/* ----- Backgrounds ----- */

html {
	font-size:100.01%;
}

#container {
	text-align:left;
    margin:0 auto;
    margin-top:40px;
    width:640px;
    padding: 10px;
}

div.ec_logo {
  text-align:center;
}

div.tagline {
  padding-left: 10%;
  padding-right: 10%;
  font-size:1.2em;  
}

div.signup {
  margin: 9px;
  text-align:center;
}


div#bodycontainer {
	width:80%;
	text-align:left;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:small;  
  line-height: 18px;
}

pre {
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:hover { text-decoration: underline; }

a img {
  border: none; /*there is a black border by default*/
}

/* signup and login */

h1.signup, h1.login {
  padding-bottom: 15px;
}

/* event */
div.event {
  border: solid 1px #abc;
  padding: 10px;
}

.event a {
  text-decoration:none;
}
.event a:hover {
	text-decoration:underline;
}

div.next_meetup_title {
	font-size:120%;
	font-weight:normal;	
    color: #ffffff;
	border: solid 1px #999;
    background: green;
	text-align:center;
}

div.event_name {
}
div.event_time {

}
div.event_location {
}
div.event_content {   /*event_body is a better name FIXME */
	padding:10px;
	border: solid 2px #fff; 
	border-radius: 10px;
}


/* comment */
div.comments {
  padding:10px;
  border: solid 1px #abc; /*http://www.computerhope.com/htmcolor.htm*/
}
div.comment {
  border: solid 1px #E56717; /*http://www.computerhope.com/htmcolor.htm*/
}
div.comment a {
	text-decoration:none;
}
div.comment a:hover {
	text-decoration:underline;
}
div.comment_head {
	font-size:70%;
	font-size:70%;
}
div.comment_head a {
	text-decoration:none;
}
div.comment_head a:hover {
	text-decoration:underline;
}

span.comment_guy {

}
span.comment_time {

}

div.comment_body {
	padding:10px;
	border: solid 2px #abc; 
}

span.comment_parent {
	font-size:70%;
}
span.comment_parent a {
	text-decoration:none;
}

span.comment_parent a:hover {
	text-decoration:underline;
}
span.comment_parent_time {

}


.nested_comments {
  margin-left: 45px;
}

/* user */

div.profile {
	color:#fff;
	border: solid 10px #307D7E;
	border-radius: 10px;
	padding:10px;
	background-color:#307D7E;
}

/* footer */
/* page top table */
div.footer {
  border-top: solid 1px #abc;
  font-size:80%;
  text-align:center;
  position:relative;
  background: #efefef;
}

div.footer a {
  text-decoration:none;
  color: #abc;
}
div.footer a:hover { 
	text-decoration:underline;
}

/* rails generated stuff */

div.field, div.actions {
	margin-bottom: 10px;
}

#notice {
	color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
