/*
	wufoo colors:
	#container{background:#BC3A1B url(/images/landing/gradient-red.png) repeat-y center ;border:1px solid #b5351b;}
	#container{background:#373434 url(/images/landing/gradient-black.png) repeat-y center ;border:1px solid #444040;} 
	#container{background:#e77709 url(/images/landing/gradient-orange.png) repeat-y center ;border:1px solid #DF5B00;}
	#container {background:#6D8A2C url(/images/landing/gradient-green.png) repeat-y center ;border:1px solid #66911C;}


	color:#f9e5bd; // yellow for inner background
	color:#FFE16E; //yellow for "login"
  
	http://www.computerhope.com/htmcolor.htm
	Dark Orange: #F88017; 
	Cyan4:    #307D7E;
*/

/* ----- Backgrounds ----- */

html {
	font-size:100.01%;
}

#container {
	text-align:left;
    margin:0 auto;
    margin-top:40px;
    width:640px;
    padding: 10px;
}

div.ec_logo {
  text-align:center;
}

div.tagline {
  padding-left: 10%;
  padding-right: 10%;
  font-size:1.2em;  
}

div.signup {
  margin: 9px;
  text-align:center;
}


div#bodycontainer {
	width:80%;
	text-align:left;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:small;  
  line-height: 18px;
}

pre {
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:hover { text-decoration: underline; }

a img {
  border: none; /*there is a black border by default*/
}


/* event */
div.events {	
	padding:10px;
	border: solid 10px #F88017; 
	border-radius: 10px;
}
div.event {
	border: solid 10px #307D7E;
	border-radius: 10px;
	padding:10px;
}

.event a {
  text-decoration:none;
}
.event a:hover {
	text-decoration:underline;
}

h1.events {
	font-size:120%;
	font-weight:normal;	
	margin: 8px 0;
	padding: 8px 15px;
	border: solid 1px #999;
	width: 90px;
	border-radius: 12px;
	text-align:center;
}

div.event_name {
	font-weight: bold;
}
span.event_time {

}
div.event_location {
	font-size:70%;
}
div.event_content {   /*event_body is a better name FIXME */
	padding:10px;
	border: solid 2px #fff; 
	border-radius: 10px;
}

span.event_upcoming {
	float:right;
	font-size:80%;
	padding:3px;
	border: solid 2px #fff; 
	border-radius: 10px;
}

span.event_past {
	float:right;
	font-size:80%;
	background-color:#C24641;
	padding:3px;
	border: solid 2px #fff; 
	border-radius: 10px;
}
/* comment */
h1.comments {
  font-size:120%;
  font-weight:normal;	
  margin: 8px 0;
  padding: 8px 15px;
  border: solid 1px #999;
  width: 90px;
  border-radius: 12px;
  background-color:#000;
  color:#FFE16E; // yellow for login
  text-align:center;
}
div.comments {
  padding:10px;
  background-color:#F88017;
  border: solid 10px #F88017; /*http://www.computerhope.com/htmcolor.htm*/
  border-radius: 10px;
}
div.comment {
  color:#fff;
  border: solid 10px #E56717; /*http://www.computerhope.com/htmcolor.htm*/
  border-radius: 10px;
  background-color:#E56717;
}
div.comment a {
	color:#fff;
	text-decoration:none;
}
div.comment a:hover {
	color:#fff;
	text-decoration:underline;
}
div.comment_head {
	color:#fff;
	font-size:70%;
	font-size:70%;
}
div.comment_head a {
	color:#fff;
	text-decoration:none;
}
div.comment_head a:hover {
	color:#fff;
	text-decoration:underline;
}

span.comment_guy {

}
span.comment_time {

}

div.comment_body {
	background-color:#E56717;	
	color:#fff;
	padding:10px;
	border: solid 2px #fff; 
	border-radius: 10px;
}

span.comment_parent {
	color:#fff;
	font-size:70%;
}
span.comment_parent a {
	color:#fff;
	text-decoration:none;
}

span.comment_parent a:hover {
	color:#fff;
	text-decoration:underline;
}
span.comment_parent_time {

}


.nested_comments {
  margin-left: 45px;
}

/* user */

div.profile {
	color:#fff;
	border: solid 10px #307D7E;
	border-radius: 10px;
	padding:10px;
	background-color:#307D7E;
}

/* footer */
/* page top table */
div.footer {
	font-size:80%;
	text-align:center;
	background:#e77709;
	color:#fff;
	text-shadow: rgba(0,0,0,.3) 1px 1px 1px;
	position:relative;
}

div.footer a {
	color:#FFE16E;
	text-decoration:none;
	font-weight:bold;
}
div.footer a:hover { 
	text-decoration:underline;
}

/* rails generated stuff */

div.field, div.actions {
	margin-bottom: 10px;
}

#notice {
	color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
