/*
  wufoo colors:
  #container{background:#BC3A1B url(/images/landing/gradient-red.png) repeat-y center ;border:1px solid #b5351b;}
  #container{background:#373434 url(/images/landing/gradient-black.png) repeat-y center ;border:1px solid #444040;} 
  #container{background:#e77709 url(/images/landing/gradient-orange.png) repeat-y center ;border:1px solid #DF5B00;}
  #container {background:#6D8A2C url(/images/landing/gradient-green.png) repeat-y center ;border:1px solid #66911C;}


  color:#f9e5bd; // yellow for inner background
  color:#FFE16E; //yellow for "login"
 * */

#container {
    text-align:left;
    margin:0 auto;
    width:640px;
}


/* ----- Backgrounds ----- */

html{font-size:100.01%;background:#F8E088 url(/images/stripe2.png);}

#container {
	background:#e77709 url(/images/landing/gradient-orange.png) repeat-y center ;border:1px solid #DF5B00;
    padding: 10px;
}



body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:small;  
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:hover { text-decoration: underline; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

div.comments {
  padding:10px;
  background-color:#F88017;
  border: solid 10px #F88017; /*http://www.computerhope.com/htmcolor.htm*/
  border-radius: 10px;
}
div.comment {

  color:#fff;
  border: solid 10px #E56717; /*http://www.computerhope.com/htmcolor.htm*/
  border-radius: 10px;
  background-color:#E56717;
}
div.comment_head {
  background-color:;
}

div.comment_body {
	background-color:#fff;
	color:#000;
	padding:1px;
	border: solid 10px #fff; 
	border-radius: 10px;
}

#pagetoptable {
  background:#e77709;
  color:#fff;
  text-shadow: rgba(0,0,0,.3) 1px 1px 1px;
  position:relative;
}
.pagetop  {
  color:#FFE16E;
}

.pagetop a {
  color:#FFE16E;
  text-decoration:none;
  font-weight:bold;
}
.pagetop a:hover { 
  text-decoration:underline;
}
.eventhead {
  background-color: #6D8A2C;
  padding:10px;
  color:#fff;
  font-weight: bold;
}
.event {
  border:3px solid #6D8A2C;
  padding:10px;
  color:#000;
}
.eventname {
  background-color: #6D8A2C;
  padding:10px;
  color:#fff;
  font-weight: bold;
}
.eventcontent {
  padding:5px;
  border:3px solid #6D8A2C;
  color:0;
}

.event a {
  color:#abc;
  text-decoration:none;
}
.event a:hover {
  text-decoration:underline;
}
span.eventtime {
	font-size:70%;
}
span.commenter {
	font-size:70%;
}
span.commenttime {
	font-size:70%;
}

span.commentparent {
	color:#fff;
	font-size:70%;
}
span.commentparent a {
	color:#fff;
	text-decoration:none;
}

span.commentparent a:hover {
	color:#fff;
	text-decoration:underline;
}
span.commentparenttime {
  font-size:80%;
}
div#bodycontainer {
	width:80%;
	text-align:left;
}

h1.comments {
  font-size:120%;
  font-weight:normal;	
  margin: 8px 0;
  padding: 8px 15px;
  border: solid 1px #999;
  width: 90px;
  border-radius: 12px;
  background-color:#000;
  color:#FFE16E; // yellow for login
  text-align:center;
}

h1.events {
  font-size:120%;
  font-weight:normal;	
  margin: 8px 0;
  padding: 8px 15px;
  border: solid 1px #999;
  width: 90px;
  border-radius: 12px;
  background-color:#000;
  color:#FFE16E; // yellow for login
  text-align:center;
}
.nested_comments {
  margin-left: 45px;
}
