<div class="row-fluid meetup_documented">
  <div class="span12 meetup_documented_head">
    <%= event_as_past.id %>
    Level 1 of column
    <div class="row-fluid meetup_documented_body">
      <div class="span8 meetup_documented_body_left">Level 2</div>
      <div class="span4 meetup_documented_body_right">Level 2</div>
    </div>
  </div>
</div>

