.post {
  .meta {
    margin-bottom: 10px;
    .author {
      font-weight: bold;
    }
    .published {
      color: darken($peter-gray, 30%);
    }
   }
  .entry-content {
    padding-bottom: 30px;
    position: relative;
    ul.actions {
      position: absolute;
      top: 5px;
      right: 5px;
      list-style: none;
      li {
        display:inline-block; 
        vertical-align:top; 
      } 
    }
  }
}

.post_form {
  label {
    font-weight: bold;
  }
  #post_title {
    @include github-issue-input;
    width: 100%;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  #post_content {
    @include  textarea-style;
    width: 100%;
  }
  #post_btn {
    display: block;
    float: right;
  }
  #control_area {
    position: relative;
    height: 20px;
    a.formatting_tips {
      position: absolute;
      right: 10px;
      font-weight: bold;
    }
  }
  @include peter-shadow;  
  padding: 20px;
}

.post {
  .title {
    font-size: 150%;
    font-weight: bold;
  }
  .who_when {
    font-size: 120%;
    color: darken($peter-gray, 40%);
    margin-bottom: 20px;
  }
}

.new_blog_btn {
  float: right;
}

