/*
	wufoo colors:
	#container{background:#BC3A1B url(/images/landing/gradient-red.png) repeat-y center ;border:1px solid #b5351b;}
	#container{background:#373434 url(/images/landing/gradient-black.png) repeat-y center ;border:1px solid #444040;} 
	#container{background:#e77709 url(/images/landing/gradient-orange.png) repeat-y center ;border:1px solid #DF5B00;}
	#container {background:#6D8A2C url(/images/landing/gradient-green.png) repeat-y center ;border:1px solid #66911C;}


	color:#f9e5bd; // yellow for inner background
	color:#FFE16E; //yellow for "login"
  
	http://www.computerhope.com/htmcolor.htm
	Dark Orange: #F88017; 
	Cyan4:    #307D7E;
*/

/* ----- Backgrounds ----- */

html {
	font-size:100.01%;
}

#container {
	text-align:left;
    margin:0 auto;
    width:640px;
    padding: 10px;
}

div.ec_logo {
  text-align:center;
}
div.theme_photo {
  margin-top: 20px;
  text-align:center;
}

div.tagline {
  padding-left: 10%;
  padding-right: 10%;
  font-size:1.2em;  
}

div.signup {
  margin: 9px;
  text-align:center;
}


div#bodycontainer {
	width:80%;
	text-align:left;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:small;  
  line-height: 18px;
}

pre {
  padding: 10px;
  font-size: 11px;
}

a img {
  border: none; /*there is a black border by default*/
}

/* signup and login */

h1.signup, h1.login {
  padding-bottom: 15px;
}

/* event */
div.event {
  border: solid 1px #abc;
  padding: 10px;
}

div.tab_title {
  font-size:120%;
  font-weight:normal;	
  padding: 5px;
  background: #ececec;
  text-align:center;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

div.event_title {
  font-size: 120%;
  font-weight: bold;
}
div.event_name {

}
div.event_time {

}
div.event_location {
}
div.event_content {   /*event_body is a better name FIXME */
	padding:10px;
	border: solid 2px #fff; 
	border-radius: 10px;
}


/* comment */
i.icon-comment {
  color: #f89406;
}
div.comments {
  padding:10px;
  border: solid 1px #abc; 
}
div.comment {
  margin-bottom: 15px;
  border-bottom: solid 2px #ececec;
}
div.comment a {
	text-decoration:none;
}
div.comment a:hover {
	text-decoration:underline;
}
div.comment_head {
  padding-left: 5px;
  font-weight: bold;
}
div.comment_head a {
  text-decoration:none;
}
div.comment_head a:hover {
  text-decoration:underline;
}

span.comment_guy {

}
span.comment_time {

}

div.comment_body {
  padding:10px;
  margin-left: 14px;
  margin-top: -5px;
  margin-bottom: -5px;
  color: #555;
  
}

span.comment_parent {
}
span.comment_parent a {
	text-decoration:none;
}

span.comment_parent a:hover {
	text-decoration:underline;
}
span.comment_parent_time {

}


.nested_comments {
  margin-left: 45px;
}

span.reply {
  font-size: 70%;
  text-decoration:underline;
}

/* user */
span.username {
  font-size: 70%;
}
span.password {
  font-size: 70%;
}
h2.your_profile {
  font-size: 120%;
}
h2.your_comments {
  font-size: 120%;
}
div.profile {
	border: solid 1px #307D7E;
	padding:10px;
}
div.profile a {
  text-decoration:underline;
  font-size: 70%;
}
span.event_time {

  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 80%;
}



/* footer */
/* page top table */
div.footer {
  border-top: solid 1px #abc;
  font-size:80%;
  text-align:center;
  position:relative;
  background: #efefef;
}

div.footer a {
  text-decoration:none;
  color: #abc;
}
div.footer a:hover { 
	text-decoration:underline;
}


#comment_btn {
  text-align: right;
}
div.nice_comment textarea
{
  display: inline-block;
  width: 612px; /*container: 640 - padding: 4x2 -margin-left, right */
  height: 88px;
  padding: 4px;
  margin-bottom: 9px;
  margin-left:10px;
  margin-right:10px;
  font-size: 13px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: none; 
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}


div.nice_comment .control-group {
  background-color: #eeeeee;
  margin-bottom: 9px;
}

div.nice_comment .control-label {
  padding: 10px;
  padding-bottom: 5px;
  font-weight: bold;
}
