  <div id="stranger_tease">
    <div id="hero">
    <strong><%= User.all.count %></strong> people,  <strong><%= Comment.all.count %></strong> comments
    </div>
    <div class="screenographic">
      <%= image_tag("meetup_head.jpg") %>
      <div class="bigcount">
        <% if Event.count != 0  && Time.now < Event.last.time %> 
          <p class="count">Next Meetup is This Sunday Afternoon</p>
          <p class="subtext"><%= link_to "(click to see details)", Event.last%></p><%#FIXME: Event.last can also be past %>
        <% else %>
          <p class="count">New Meetup planning, plz wait</p>
        <% end %> 
      </div>
    </div>
    <div id="below_hero">
      We are a group of students in <a href="http://www.heuet.net.cn/english/"><i>Hebei
      University of Economics and Business</i></a>, we currently meet each sunday
      afternoon at Bookbar Cafe<a href="/about/location">(<i>click to see map here</i>)</a> to practice our
      English and have fun! 
    </div>
    <div class="big_signup_button">
      <a class="btn btn-large btn-info" href="/plans">Plans, Pricing and Signup</a>
    </div>
  </div>
