<%= render "header" %>

<p>Happyec.org is a SNS(Social Networking Services), think of a weibo.com for English learners. We believe in the value of SNS in education.</p>

<p>We now provide three things:</p>

<ol>
<li><p>You can write stuff on our website, then people will give you feedback.</p>

<p>So let other people know about your ideas, we believe good English language skills can only be gained by communication.</p></li>
<li><p>Open Off-line Meetups are Free of Charge </p>

<p>We have a lot of overseas students who want to have more Chinese friends, so let's meet and become friends.</p></li>
<li><p>Paid Member Only Meetups.</p>

<p>We are not a training school, and we are not profitable. Training schools provide the chance for us to practice our English with Native speakers, but you need to 1) go very far to join the classes 2) pay a lot of money. Here at happyec.org, the students organize the classes by themselves, all the financial details  will be open on the website. We can pay for only the teacher, and invite him to our campus, saving lots of time and money</p></li>
</ol>

<p>Membership is open to all people who has basic English level wishing to improve their communication skills in English.</p>

<%= render "footer" %>
