<div class="spacefield"> 
  <img alt="Space, the final frontier"  height="300" id="parallax_bg" src="https://a248.e.akamai.net/assets.github.com/images/modules/about_page/parallax_bg.jpg" width="999" />
</div>

<div id="about_header" class="clearfix plax">
  <h1 class="intro">
    Happyec helps people learn English.
  </h1>
  <img alt="Octonaut"  height="232" id="parallax_octocat" src="https://a248.e.akamai.net/assets.github.com/images/modules/about_page/parallax_octocat.png" width="183" />
  <img alt="Behold, our planet"  height="149" id="parallax_earth" src="https://a248.e.akamai.net/assets.github.com/images/modules/about_page/parallax_earth.png" width="149" />
</div><!-- close about-header-->

<div class="row-fluid">
  <div class="span3">
  <h3>Contact</h3>
  We'd be glad to hear from you, if you have anything to say, you can email the site admin <%= link_to "happypeter", User.find(1) %>, 

  happypeter1983@gmail.com
  </div>
  <div class="span9">
Membership is open to all people who has basic English level wishing to improve their communications skills in English.
  </div>
</div>
