<%= render "header" %>
<a href="http://www.flickr.com/photos/41883550@N05/6966220955/" title="ec_map by happypeter--1983, on Flickr"><img src="http://farm8.staticflickr.com/7193/6966220955_37a3610848.jpg" width="500" height="409" alt="ec_map"></a>
<%= render "footer" %>
