<div id="password_sent_confirmation">
  We've sent an email to
  <b>
  <% flash.each do |name, msg| %>
      <%= msg %>
  <% end %>
  </b>
  It contains a temporary url that will allow you to reset your password for the next 2 hours. Please check your spam folder if the email doesn't appear within a few minutes.
</div>
