<%= render "header" %>
<table>
  <tr>
     <th>name</th>
     <th>comments</th>
  </tr>
<% if @users != nil %>
  <% @users.each do |user| %>
  <p>
    <tr>
       <td><%= link_to user.name, user %></td>
       <td align="center"><%= user.comments.count%></td>
     </tr>
  </p>
  <% end %>
<% else %>
  <p>
  No user found
  </p>
<% end %>
</table>
<%= render "footer" %>
