<div class="plans">
Membership is open to all people who has basic English level wishing to improve their communications skills in English.
    <div class="big_signup_button">
      <a class="btn btn-large btn-info" href="/sign_up">Signup Here For Free</a>
    </div>
<hr>

<div class="row-fluid">
  <div class="span5 free">
   <h1 class="title">Free</h1>
    Basic Membership is totally free of charge, all you need is to Sign up. 
    <h2 class="faq">After that you can enjoy:</h2>
    <ul>
    <li>All open meetups on every Sunday afternoon, IF that is not a <i>paid member only meetup</i></li>
    <li>After you <%= link_to "Signing up", sign_up_path %>, we will send you email about when there is a open meetup</li>
    </ul>
  </div>
  
  <div class="span1">
  <hr> 
  </div>
  <div class="span6 paid">
   <h1 class="title">Paid</h1>
    That is to say, to offer higher quality of nice meetups, we are now also have a plan for <b>paid member</b>s

    <h2 class="faq">What can I get to be a paid member?</h2>
    <ul>
    <li>Enjoy once in a month a <i>paid member only meetup</i>, where we will limit the number of attendees to 5~8 people.</li>
    <li>Discuss and decide the topic of that <i>paid member only</i> meetup </li>
    </ul>

    <h2 class="faq">How can I become a paid member?</h2>

    <ul>
    <li>Join our weekly meetup</li>
    <li>Find <a href="http://happyec.org/users/1">happypeter</a>, and give him the money</li>
    <li>Currently, it is only 1RMB per month</li>
    </ul>
  </div>
</div>
</div>
